body {
    margin: 0;
    padding: 0;
}


.form-control {
    border: none!important;
}

.btn-secondary {
    border: 1px solid white!important;
    background-color: #dbdbdb!important;
    color: black!important;
}

